<h1>Searches#index</h1>
<p>Find me in app/views/searches/index.html.erb</p>
<% @searches.each do |search| %>
 <p><%= search.farm %>
  <%= search.server %>
  <%= search.id %>
  <%= search.secret %></p> 
  <%= image_tag("https://farm#{search.farm}.staticflickr.com/#{search.server}/#{search.id}_#{search.secret}.jpg")%>
  
<% end %>